<section class="">
				<div class="them-inner-banner">
					<div class="inner-banner-opact">
						<div class="container">
							<div class="inner-banner-title">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<div class="">
											<h1>Gallery</h1>
											<p>Pet lovers rely on Becky’s Pet Care for professional dog walking and pet sitting.</p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12">
										<div class="">
											<a href="#" class="hvr-float-shadow">Get A Quote</a>
										</div>
									</div>
								</div>
								<img src="__PUBLIC__/images/about/dog-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="inner-banner-bottom">
					<div class="container">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><span>-</span></li>
							<li><a href="index.html">Page</a></li>
							<li><span>-</span></li>
							<li><a href="#">Gallery</a></li>
						</ul>
					</div>
				</div>
			</section>

			<!-- Gallery v-1 ____________________________ -->
			<section class="gallery-v-one">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-1.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-1.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-1.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-2.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-2.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-2.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-3.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-3.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-3.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-4.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-4.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-4.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-5.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-5.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-5.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-6.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-6.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-6.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-7.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-7.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-7.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-9.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-9.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-9.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 gallery-item-width">
							<div class="gallery-tiem-wrapper">
								<img src="__PUBLIC__/images/gallery/img-8.jpg" alt="image">
								<div class="gallery-item-opact">
									<h5>PET ADOPTION</h5>
									<div>
										<a href="__PUBLIC__/images/gallery/img-8.jpg" class="fancybox"><i class="flaticon-search"></i></a>
										<a href="__PUBLIC__/images/gallery/img-8.jpg" class="fancybox"><i class="flaticon-unlink"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="gallery-button-wrapper">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</section>

			<!-- Partner Logo ____________________________ -->
	        <div class="partners-padding-fix">
				<div class="container">
					<div class="">
						<div id="partner-logo" class="owl-carousel owl-theme">
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-1.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-2.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-3.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-4.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-2.png" alt="logo"></div></div>
						</div> <!-- End .partner_logo -->
					</div>
				</div>
			</div>