<section class="">
				<div class="them-inner-banner">
					<div class="inner-banner-opact">
						<div class="container">
							<div class="inner-banner-title">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<div class="">
											<h1>关于我们</h1>
											<p>我们专业的团队是宠物爱好者们可依赖的宠物护理.</p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12">
										<div class="">
											<a href="#" class="hvr-float-shadow">询价</a>
										</div>
									</div>
								</div>
								<img src="__PUBLIC__/images/about/dog-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="inner-banner-bottom">
					<div class="container">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><span>-</span></li>
							<li><a href="index.html">Page</a></li>
							<li><span>-</span></li>
							<li><a href="#">About us</a></li>
						</ul>
					</div>
				</div>
			</section>
 
			

			<!-- We are myPet ____________________________ -->
			<section class="we-are-my-pet-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="we-are-my-pet-text">
								<span></span>
								<h2>我们是<span>宠物<span>之家</span></span></h2>
								<p>欢迎！我们很高兴您想为您的毛茸茸的朋友探索一种不同类型的宠物护理。自1995年以来，我们一直在利特尔顿社区提供一流的宠物照顾和宠物照顾，并且作为宠物寄宿的替代选择

                                  你的宠物住在自己的家里有很多好处。他们之中有一些是; 没有接触到犬舍咳嗽，犬流感和寄生虫等疾病。.</p>
								<a href="#" class="hvr-float-shadow">了解更多</a>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="we-are-my-pet-img">
								<img src="__PUBLIC__/images/home/img-1.jpg" alt="image">
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Company History _________________________________ -->
			<section class="company-history-section">
				<div class="company-history-shape-img-top"><img src="__PUBLIC__/images/shape-1.png" alt="shape-img"></div>
				<div class="company-history-containt-opact">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-xs-6 history-item-weight">
								<div class="clear-fix">
									<div class="history-item item-one">
										<div>
											<i class="flaticon-handshake"></i>
											<p>用户成交量</p>
											<h2><span class="timer" data-from="0" data-to="210" data-speed="2000" data-refresh-interval="5">0</span></h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-xs-6 history-item-weight">
								<div class="clear-fix">
									<div class="history-item item-two">
										<div>
											<i class="flaticon-satisfaction"></i>
											<p>客户满意度</p>
											<h2><span class="timer" data-from="0" data-to="100" data-speed="2000" data-refresh-interval="5">0</span>%</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-xs-6 history-item-weight col-item-three">
								<div class="clear-fix">
									<div class="history-item item-three">
										<div>
											<i class="flaticon-construction"></i>
											<p>宠物托管</p>
											<h2><span class="timer" data-from="0" data-to="95" data-speed="2000" data-refresh-interval="5">0</span></h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-xs-6 history-item-weight">
								<div class="clear-fix">
									<div class="history-item item-four">
										<div>
											<i class="flaticon-medal"></i>
											<p>获奖</p>
											<h2><span class="timer" data-from="0" data-to="234" data-speed="2000" data-refresh-interval="5">0</span></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Our pet health ____________________________ -->
			<section class="our-pet-health-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="our-work-process">
								<h4>我们的宠物医疗保健系统</h4>
								<p>宠物护理兽医院的医生和工作人员具有多年的治疗各种爬行动物的经验，包括胡子龙，壁虎，蛇和龟。我们的医院为您的宠物雪貂提供身体检查，疫苗接种，营养，行为和环境丰富信息</p>
								<div class="row">
									<div class="col-xs-6">
										<div class="">
											<i class="flaticon-dog-training"></i>
											<h6><a href="#">送货上门</a></h6>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="">
											<i class="flaticon-snowshoe-cat"></i>
											<h6><a href="#">宠物品质</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="doing-the-right-thing">
								<h5>做正确的事情，发现我们的产品</h5>
								<p>我们的兽医和工作人员了解您与宠物分享的特殊纽带的重要性，致力于为现代兽医护理提供最好的服务</p>
								<div class="inspiration-tab">
									<div class="inspiration-panel">
										<div class="panel-group theme-accordion" id="accordion">
										  <div class="panel">
										    <div class="panel-heading active-panel">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
										        全国值得信赖的宠物保姆</a>
										      </h6>
										    </div>
										    <div id="collapse1" class="panel-collapse collapse in">
										      <div class="panel-body">
										      	<p>创新与创意的完美结合，我们的浴室瓷砖符合国际标准。高质量的20mm厚的瓷砖，可以放置在基座上,</p>
										      </div>
										    </div>
										  </div> <!-- /panel 1 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
										        

我能给我的鸟什么作为款待？ </a>
										      </h6>
										    </div>
										    <div id="collapse2" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>创新与创意的完美结合，我们的浴室瓷砖符合国际标准。高质量的20mm厚的瓷砖，可以放置在基座上,</p>
										      </div>
										    </div>
										  </div> <!-- /panel 2 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
										        当你的兔子停止饮食</a>
										      </h6>
										    </div>
										    <div id="collapse3" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>创新与创意的完美结合，我们的浴室瓷砖符合国际标准。高质量的20mm厚的瓷砖，可以放置在基座上,</p>
										      </div>
										    </div>
										  </div> <!-- /panel 3 -->
										</div> <!-- end #accordion -->
									</div> <!-- End of .inspiration-panel -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Client Review ____________________________ -->
			<div class="client-slider">
				<div class="opacity">
					<div class="container">
						<div class="them-title text-center">
							<span></span>
							<h2>客户评论</h2>
						</div> <!-- /.theme-title -->

						<div class="testimonial-slider">
							<div id="client-review-slider" class="owl-carousel owl-theme">
								<div class="item">
									<div class="clearfix">
										<img src="__PUBLIC__/images/home/img-8.jpg" alt="" class="float-left">
										<div class="name float-left">
											<h6>Mahfuz Riad</h6>
											<p>CEO, Company</p>
										</div> <!-- /.name -->
									</div> <!-- /.clearfix -->
									<div class="text">
										<p>I’ve been happy with the services provided by Finazi LLC. Felix has been wonderful! He has returned my calls quick-ly, and he answered all my questions.</p>
									</div>
								</div> <!-- /.item -->
								<div class="item">
									<div class="clearfix">
										<img src="__PUBLIC__/images/home/img-9.jpg" alt="" class="float-left">
										<div class="name float-left">
											<h6>Abdur Rob</h6>
											<p>CEO, Developer</p>
										</div> <!-- /.name -->
									</div> <!-- /.clearfix -->
									<div class="text">
										<p>I’ve been happy with the services provided by Finazi LLC. Felix has been wonderful! He has returned my calls quick-ly, and he answered all my questions.</p>
									</div>
								</div> <!-- /.item -->
								<div class="item">
									<div class="clearfix">
										<img src="__PUBLIC__/images/home/img-8.jpg" alt="" class="float-left">
										<div class="name float-left">
											<h6>Mahfuz Riad</h6>
											<p>CEO, Company</p>
										</div> <!-- /.name -->
									</div> <!-- /.clearfix -->
									<div class="text">
										<p>I’ve been happy with the services provided by Finazi LLC. Felix has been wonderful! He has returned my calls quick-ly, and he answered all my questions.</p>
									</div>
								</div> <!-- /.item -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.client-slider -->

			 <!-- /.our-blog -->

			<!-- Partner Logo ____________________________ -->
	        <div class="partners-section">
				<div class="container">
					<div class="">
						<div id="partner-logo" class="owl-carousel owl-theme">
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-1.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-2.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-3.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-4.png" alt="logo"></div></div>
							<div class="item"><div><img src="__PUBLIC__/images/home/slide-logo-2.png" alt="logo"></div></div>
						</div> <!-- End .partner_logo -->
					</div>
				</div>
			</div>