<style type="text/css">

</style>
<section class="">
				<div class="them-inner-banner">
					<div class="inner-banner-opact">
						<div class="container">
							<div class="inner-banner-title">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<div class="">
											<h1>商店</h1>
											<p>宠物爱好者依赖贝基的宠物照顾，专业遛狗和宠物坐。.</p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12">
										<div class="">
											<a href="#" class="hvr-float-shadow">询价</a>
										</div>
									</div>
								</div>
								<img src="__PUBLIC__/images/about/dog-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="inner-banner-bottom">
					<div class="container">
						<ul>
							<li><a href="index.html">主页</a></li>
							<li><span>-</span></li>
							<li><a href="index.html">Page</a></li>
							<li><span>-</span></li>
							<li><a href="#">商店</a></li>
						</ul>
					</div>
				</div>
			</section>

			<!-- Shop ____________________________ -->
			<section class="shop-page">
				<div class="container">
					<div class="shop-item-wrapper">
						<div class="row top-select-and-form-section">
							<div class="col-lg-3  col-sm-4 col-xs-12">
								<div class="">
									<form action="#">
										<input type="text" placeholder="Search Product ...">
										<button><i class="fa fa-search" aria-hidden="true"></i></button>
									</form>
								</div>
							</div>
							<div class="col-lg-6  col-sm-4  col-xs-12">
								<div class="text-center">
									<p>显示12个结果中的1 - 12</p>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4  col-xs-12">
								<ul class="select-section">
									<li>
										<select class="selectpicker">
											<option>默认</option>
											<option>按价格</option>
											<option>按类别</option>
											<option>按日期</option>
										</select>
									</li>
								</ul> <!-- /.top-select-section -->
							</div>
						</div>
                     
						<div class="row">
							<volist name="goods" id="v">
							<div class="col-md-4 col-xs-6 product-item-width" gid="{$v.id}" id="parent">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
                                       <if condition="$v['coll']==1">
											
                                       <else /><a href="javascript::" id="collect" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                       </if>
  
											<a href="javascript::" id="cart" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__ROOT__/Uploads/{$v.img}" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="{:U('Cart/detail',['gid'=>$v['id']])}">{$v.name}</a></h5>
											<span>${$v.price}</span>
										</div>
									</div>
								</div>
							</div>
						 </volist>
						</div>
						<ul class="shop-page-prev-next-button text-center">
							
						<?=$page?>
						 
						</ul>
					</div>	<!-- / .shop-item-wrapper -->
				</div>
			</section>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	//添加购物车
	$(document).on('click','#cart',function(){
		 var gid=$(this).parents('#parent').attr('gid');
		 $.ajax({
		 	 type : "post",
		 	 url  : "__MODULE__/shop/add_cart",
		 	 data : 'gid='+gid,
		 	 success:function(e){
		 	 	if(e == 1)
		 	 	{

		 	 		alert('请先登录');
		 	 		
		 	 		window.location.href="__APP__/admin/Login/index"
		 	 	}else{
		 	 		alert('添加购物车成功')
		 	 	}
		 	 	
		 	 }
		 })
	})
    
    //收藏
	$(document).on('click','#coll',function(){
		 var gid=$(this).parents('#parent').attr('gid');
		 $.ajax({
		 	 type : "post",
		 	 url  : "__MODULE__/shop/add_collect",
		 	 data : 'gid='+gid,
		 	 success:function(e){
		 	 	if(e == 1)
		 	 	{

		 	 		alert('请先登录');
		 	 		
		 	 		window.location.href="__APP__/admin/Login/index"
		 	 	}else{
		 	 		alert('收藏成功')
		 	 	}
		 	 }
		 })
		 $(this).remove()
	})
</script>