<section class="">
				<div class="them-inner-banner">
					<div class="inner-banner-opact">
						<div class="container">
							<div class="inner-banner-title">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<div class="">
											<h1>Shop</h1>
											<p>Pet lovers rely on Becky’s Pet Care for professional dog walking and pet sitting.</p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12">
										<div class="">
											<a href="#" class="hvr-float-shadow">Get A Quote</a>
										</div>
									</div>
								</div>
								<img src="__PUBLIC__/images/about/dog-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="inner-banner-bottom">
					<div class="container">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><span>-</span></li>
							<li><a href="index.html">Page</a></li>
							<li><span>-</span></li>
							<li><a href="#">Shop</a></li>
						</ul>
					</div>
				</div>
			</section>

			<!-- Shop ____________________________ -->
			<section class="shop-page">
				<div class="container">
					<div class="shop-item-wrapper">
						<div class="row top-select-and-form-section">
							<div class="col-lg-3  col-sm-4 col-xs-12">
								<div class="">
									<form action="#">
										<input type="text" placeholder="Search Product ...">
										<button><i class="fa fa-search" aria-hidden="true"></i></button>
									</form>
								</div>
							</div>
							<div class="col-lg-6  col-sm-4  col-xs-12">
								<div class="text-center">
									<p>Showing 1 - 12 of 12 Result</p>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4  col-xs-12">
								<ul class="select-section">
									<li>
										<select class="selectpicker">
											<option>Defult Shorting</option>
											<option>By Price</option>
											<option>By Category</option>
											<option>By Date</option>
										</select>
									</li>
								</ul> <!-- /.top-select-section -->
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-1.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">A1 Cat</a></h5>
											<span>$18</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-2.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Bolod Dog</a></h5>
											<span>$17</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-3.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Spice Dog</a></h5>
											<span>$27</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-4.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Baby Cat</a></h5>
											<span>$48</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-5.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Baby Dog</a></h5>
											<span>$13</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-6.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Big Home Dog</a></h5>
											<span>$37</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-7.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Pepper</a></h5>
											<span>$37</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-8.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Grape</a></h5>
											<span>$27</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-9.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Group dog pakage</a></h5>
											<span>$79</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-10.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Crab, (1kg )</a></h5>
											<span>$14</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-11.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Black cat</a></h5>
											<span>$21</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-6 product-item-width">
								<div class="shop-item-product-wrapper">
									<div class="shop-item-product">
										<div class="clear-fix">
											<a href="#" class="float-left"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
											<a href="#" class="float-right"><i class="flaticon-shopping-bag"></i></a>
										</div>
										<div class="product">
											<img src="__PUBLIC__/images/shop/img-12.png" alt="image">
										</div>
										<div class="price-and-taitle">
											<h5><a href="shop-details.html">Green Frog</a></h5>
											<span>$49</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<ul class="shop-page-prev-next-button text-center">
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
						</ul>
					</div>	<!-- / .shop-item-wrapper -->
				</div>
			</section>